@charset "UTF-8";

main{
    background-image: none;
    height: 100vh;
    background-color: black;
}
main > section > img{
    padding: 10px;
    transform: translate(10px);
    width: 130px;
    margin-bottom: -30px;
}
main > section#main{
    padding: 20px;
    margin: auto;
    max-width: 380px;
    color: white;
    background-color: #000000c5;
}
footer{
    display: flex;
    align-items: start;
}
footer > section > article > a{
    margin-bottom: 0;
    margin-right: 20%;
}