@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root{
    --heigth_input: 50px; 
}

body{
    background-color: #151513;
}

main{
    background-image: url('../image/background.webp');
    height: 100vh;
    background-size: cover;
}

div#warn{
    display: none;
    font-size: 14px;
    border-radius: 3px;
    padding: 10px;
    background-color: #d29e38;
    color: black;
    margin-bottom: 25px;
}
div#warn > span > strong{
    display: inline;
}
div#warn > span > strong,div#warn > span > span, div#warn > span > a{
    color: black;
}

div#warn_email{
    display: none;
    margin-top: -15px;
    margin-bottom: 15px;
}
div#warn_email > img{
    width: 20px;
    transform: translate(0,7px);
}
div#warn_email > p{
    display: inline;
    align-self: center;
    font-size: 12px;
    margin-bottom: 10px;
    color: #e93323;
    font-weight: bold;
}


main{
    height: 110vh;
}
main > section > img{
    transform: translate(80px);
    width: 170px;
}
main > section#main{
    border-radius: 5px;
    padding: 45px;
    margin: auto;
    max-width: 380px;
    color: white;
    background-color: #000000c5;
}
main > section#main > h2{
    text-transform: capitalize;
    margin-bottom: 15px;
}
main > section#main > form input{
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
main > section#main > form  input.text_box{
    padding-left: 12px;
    height: var(--heigth_input);
    border: 1px solid #4d4d4d;
    color: white;
    background-color: #25252544;
}
main > section#main > form input.text_box:focus-visible{
    outline: 2px solid white;
    border: 1px solid #2b2b2b;
    border-radius: 3px;
}
main > section#main > form input#signin{
    font-weight: bolder;
    text-transform: capitalize;
    background-color: red;
    color: white;
    font-weight: bolder;
    border: 0;
    cursor: pointer;
    height: 35px;
}
main > section#main > p{
    text-transform: uppercase;
    text-align: center;
    margin: 5px 0;
}
main > section#main > a{
    display: block;
}
main > section#main > input#signincode{
    height: 35px;
    width: 100%;
    background-color: #80808096;
    color: white;
    font-weight: bolder;
    border: 0;
    text-transform: capitalize;
    margin-bottom: 13px;
    cursor: pointer;
}
main > section#main > a#forgot{
    color: white;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 13px;
}
main > section#main > div{
    margin-top: 15px;
}
main > section#main > div > p,main > section#main > div > a{
    display: inline;
}
main > section#main > div#extra > p{
    color: #a8a8a8;
}
main > section#main > div > a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 15px;
    background-color: #151513;
}
footer > section{
    min-width: 80vw;
    color: #a8a8a8;
}
footer > section > article{
    display: flex;
    flex-flow: row wrap;
    justify-items: left;
    margin-top: 12px;
}
footer > section > article > a{
    color: #a8a8a8;
    margin-bottom: 20px;
    margin-right: 17%;
}