@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --maincolor: #0866ff;
}

body{
    padding-top: 30px;
    background-color: #f0f2f5;
}

main{
    margin: auto;
    width: 430px;
}
main > h1{
    color: var(--maincolor);
    font-size: 2.5em;
    text-align: center;
    margin: 10px;
}
main > section > p{
    text-transform: uppercase;
    text-align: center;
}
main > section{
    box-shadow: 2px 1px 9px #0000003d;
    padding: 30px 15px;
    border-radius: 10px;
    background-color: white;
}
main > section > form > input{
    display: block;
}
main > section > form > input.textbox{
    padding-left: 10px;
    width: 100%;
    height: 50px;
    margin: 15px 0px;
    font-size: 20px;
}
main > section > form > input.textbox:focus{
    outline: 1.5px solid var(--maincolor);
}
main > section > form > section > input#login{
    width: 100%;
    height: 50px;
    border: transparent;
    background-color: var(--maincolor);
    cursor: pointer;
}
main > section > form > section > p{
    font-size: 20px;
    font-weight: bold;
    color: white;
    transform: translate(0, -36px);
    text-align: center;
}
main > section > p#warn{
    color: transparent;
    margin: 13px 0px;
    font-size: 12px;
    text-transform: inherit;
}
main > section > section{
    text-align: center;
    margin: auto;
}
main > section > section > a{
    text-decoration: none;
    color: var(--maincolor);
}
main > section > section > a:hover{
    text-decoration: underline;
}
section#worg_password{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #0000005b;
}
section#worg_password > article{
    position: absolute;
    transform: translate(0,-55%);
    width: 300px;
    border-radius: 15px;
    background-color: white;
    text-align: center;
}
section#worg_password > article > div#text{
    padding: 30px;
    padding-bottom: 0;
}
section#worg_password > article > div > h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
section#worg_password > article > div > p{
    color: #616161;
    margin-bottom: 20px;
}
section#worg_password > article > div{
    
}
section#worg_password > article > div > a{
    display: block;
    text-decoration: none;
    padding: 14px;
}
section#worg_password > article > div > a#forgot{
    width: 100%;
    border: 1px solid gray;
}